.header-top {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-middle {
  background-color: var(--color-131921);
}

.header-middle .search svg {
  color: #fff;
}

.header-middle .links img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .header-middle .links {
    font-size: 14px;
  }
  
  .header-middle .links img {
    width: 20px;
    height: 20px;
  }
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
